.logo {
  min-width: 136px;
  min-height: 50px;
  background-image: url('../../../assets/icons/logo.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
