@import '../../styles/variables.scss';

.main {
  background-image: url('../../assets/images/star-wars-background.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.content {
  flex: 1 20 auto;
}

.header {
  background-color: $background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  gap: 20px;
  z-index: 2;
}

@media screen and (max-width: 687px) {
  .header {
    flex-direction: column;
  }
}
