.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  background-color: #c6cfb7;
}

.title {
  color: #294a58;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.subtitle {
  text-align: center;
  font-weight: 600;
  & > span {
    font-weight: 400;
  }
}
