@import '../../styles/variables.scss';

.header {
  background-color: $background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  gap: 20px;
}

.logo {
  min-width: 117px;
  min-height: 50px;
  background-image: url('../../assets/icons/star-wars-logo.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

@media screen and (max-width: 687px) {
  .header {
    flex-direction: column;
  }
}
