.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 40px;
  padding: 40px;
}

.loader {
  background-image: url('../../assets/images/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 35px;
  height: 35px;
}
