@import '../../styles/variables.scss';

.main {
  background-image: url('../../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  & > p {
    padding-top: 150px;
  }
}

.content {
  flex: 1 20 auto;
}

.link {
  color: $yellow;
  &:hover {
    text-decoration: underline;
  }
}
